@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0A0A0A;
  --foreground: #F5F5F5;
}

body {
  color: var(--foreground);
  background: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

::selection {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}
.snap-y {
  scroll-snap-type: y mandatory;
}

.snap-start {
  scroll-snap-align: start;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-snap-align: start;
}
